<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hfpdiag"
 android:versionCode="2" android:versionName="1.1">
 <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28"/>
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
 <application android:label="HFP Diagnostic" android:allowBackup="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">
  <activity android:name=".MainActivity" android:exported="true"><intent-filter>
    <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
  </intent-filter></activity>
  <service android:name=".DiagnosticService" android:exported="false"/>
 </application>
</manifest>
